<link rel="stylesheet" type="text/css" href="/css/moodBoard.css" />
<link rel="stylesheet" type="text/css" href="/css/popup.css" />

<script src="js/moodBoard.js" defer></script>
<script src="js/popup.js" defer></script>

<dialog id="moodBoard" class="moodBoard_Modal">
  <span class="close" id="close_mood">&times;</span>
  <h3>Hvordan har du det i dag?</h3>
  <form>
    <div class="moodElement">
      <input type="image" src="" alt="Glad" id="mood0" class="moodImage" />
      <label for="mood0" class="moodLabel">Glad</label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="Sur" id="mood1" class="moodImage" />
      <label for="mood1" class="moodLabel">Sur</label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src=""
        alt="Forventningsfuld"
        id="mood2"
        class="moodImage"
      />
      <label for="mood2" class="moodLabel">Forventningsfuld</label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood3" class="moodImage" />
      <label for="mood3" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood4" class="moodImage" />
      <label for="mood4" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood5" class="moodImage" />
      <label for="mood5" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood6" class="moodImage" />
      <label for="mood6" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood7" class="moodImage" />
      <label for="mood7" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood8" class="moodImage" />
      <label for="mood8" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input type="image" src="" alt="" id="mood9" class="moodImage" />
      <label for="mood9" class="moodLabel"></label>
    </div>
  </form>
</dialog>
