<link rel="stylesheet" type="text/css" href="/css/moodBoard.css" />


<script src="js/moodBoard.js" defer></script>

<dialog id="moodBoard" class="moodBoard_Modal">
  <span class="close" id="close_mood">&times;</span>
  <h3>Hvordan har du det i dag?</h3>
  <form>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (1).svg"
        alt="Glad"
        id="mood1"
        class="moodImage"
      />
      <label for="mood1" class="moodLabel">Glad</label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (2).svg"
        alt="Forventningsfuld"
        id="mood2"
        class="moodImage"
      />
      <label for="mood2" class="moodLabel">Forventningsfuld</label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (3).svg"
        alt="Sur"
        id="mood3"
        class="moodImage"
      />
      <label for="mood3" class="moodLabel">Sur</label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (4).svg"
        alt=""
        id="mood4"
        class="moodImage"
      />
      <label for="mood4" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (5).svg"
        alt=""
        id="mood5"
        class="moodImage"
      />
      <label for="mood5" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (6).svg"
        alt=""
        id="mood6"
        class="moodImage"
      />
      <label for="mood6" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (7).svg"
        alt=""
        id="mood7"
        class="moodImage"
      />
      <label for="mood7" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (8).svg"
        alt=""
        id="mood8"
        class="moodImage"
      />
      <label for="mood8" class="moodLabel"></label>
    </div>
    <div class="moodElement">
      <input
        type="image"
        src="/images/mood (9).svg"
        alt=""
        id="mood9"
        class="moodImage"
      />
      <label for="mood9" class="moodLabel"></label>
      <div class="moodElement">
        <input
          type="image"
          src="/images/mood (10).svg"
          alt=""
          id="mood10"
          class="moodImage"
        />
        <label for="mood10" class="moodLabel"></label>
      </div>
    </div>
  </form>
</dialog>
