<link rel="stylesheet" type="text/css" href="/css/moodBoard.css" />

<script src="js/moodBoard.js" defer></script>

<dialog id="moodBoard" class="moodBoard_Modal">
  <span class="close" id="close_mood">&times;</span>
  <h4 class="header">Hvordan har du det i dag?</h4>
  <hr />
  <form>
    <div class="moodGrid">
      <div class="moodElement moodElement1">
        <input
          type="image"
          src="/images/mood (1).svg"
          alt="Sørgmodig"
          id="mood1"
          class="moodImage"
        />
        <label for="mood1" class="moodLabel">Sørgmodig</label>
      </div>
      <div class="moodElement moodElement2">
        <input
          type="image"
          src="/images/mood (2).svg"
          alt="Sjov"
          id="mood2"
          class="moodImage"
        />
        <label for="mood2" class="moodLabel">Sjov</label>
      </div>
      <div class="moodElement moodElement3">
        <input
          type="image"
          src="/images/mood (3).svg"
          alt="Lykkelig"
          id="mood3"
          class="moodImage"
        />
        <label for="mood3" class="moodLabel">Lykkelig</label>
      </div>
      <div class="moodElement moodElement4">
        <input
          type="image"
          src="/images/mood (4).svg"
          alt="Skuffet"
          id="mood4"
          class="moodImage"
        />
        <label for="mood4" class="moodLabel">Skuffet</label>
      </div>
      <div class="moodElement moodElement5">
        <input
          type="image"
          src="/images/mood (5).svg"
          alt="Trist"
          id="mood5"
          class="moodImage"
        />
        <label for="mood5" class="moodLabel">Trist</label>
      </div>
      <div class="moodElement moodElement6">
        <input
          type="image"
          src="/images/mood (6).svg"
          alt="Ambivalent"
          id="mood6"
          class="moodImage"
        />
        <label for="mood6" class="moodLabel">Ambivalent</label>
      </div>
      <div class="moodElement moodElement7">
        <input
          type="image"
          src="/images/mood (7).svg"
          alt="Begejstret"
          id="mood7"
          class="moodImage"
        />
        <label for="mood7" class="moodLabel">Begejstret</label>
      </div>
      <div class="moodElement moodElement8">
        <input
          type="image"
          src="/images/mood (8).svg"
          alt="Irriteret"
          id="mood8"
          class="moodImage"
        />
        <label for="mood8" class="moodLabel">Irriteret</label>
      </div>
      <div class="moodElement moodElement9">
        <input
          type="image"
          src="/images/mood (9).svg"
          alt="Træt"
          id="mood9"
          class="moodImage"
        />
        <label for="mood9" class="moodLabel">Træt</label>
      </div>
      <div class="moodElement moodElement10">
        <input
          type="image"
          src="/images/mood (10).svg"
          alt="Legesyg"
          id="mood10"
          class="moodImage"
        />
        <label for="mood10" class="moodLabel">Legesyg</label>
      </div>
      <div class="moodElement moodElement11">
        <input
          type="image"
          src="/images/mood (11).svg"
          alt="Glad"
          id="mood11"
          class="moodImage"
        />
        <label for="mood11" class="moodLabel">Glad</label>
      </div>
      <div class="moodElement moodElement12">
        <input
          type="image"
          src="/images/mood (12).svg"
          alt="Sur"
          id="mood12"
          class="moodImage"
        />
        <label for="mood12" class="moodLabel">Sur</label>
      </div>
      <div class="moodElement moodElement13">
        <input
          type="image"
          src="/images/mood (13).svg"
          alt="Overrasket"
          id="mood13"
          class="moodImage"
        />
        <label for="mood13" class="moodLabel">Overrasket</label>
      </div>
      <div class="moodElement moodElement14">
        <input
          type="image"
          src="/images/mood (14).svg"
          alt="Selvsikker"
          id="mood14"
          class="moodImage"
        />
        <label for="mood14" class="moodLabel">Selvsikker</label>
      </div>
      <div class="moodElement moodElement15">
        <input
          type="image"
          src="/images/mood (15).svg"
          alt="Forelsket"
          id="mood15"
          class="moodImage"
        />
        <label for="mood15" class="moodLabel">Forelsket</label>
      </div>
      <div class="moodElement moodElement16">
        <input
          type="image"
          src="/images/mood (16).svg"
          alt="Ængstelig"
          id="mood16"
          class="moodImage"
        />
        <label for="mood16" class="moodLabel">Ængstelig</label>
      </div>
    </div>
  </form>
</dialog>
