<link rel="stylesheet" type="text/css" href="/css/popup.css" />

<script src="js/popup.js" defer></script>

<dialog id="opret_popup" class="popup">
  <span class="close" id="close_opret">&times;</span>

  <div id="content" class="popup_content">
    <div class="header">
      <h4 class="header">Tilmeld dig nu</h4>
    </div>

    <form class="form">
      <div class="email">
        <label for="email" class="opret label">Indtast din email:</label>
        <input
          type="email"
          placeholder="Email"
          name="email"
          class="opret textbox"
          required
          autocomplete="off"
        />
      </div>
      <div class="kode">
        <label for="pss_opret" class="opret label"
          >Indtast en adgangskode:</label
        >
        <input
          type="password"
          name="pss_opret"
          id="pss_opret"
          placeholder="Adgangskode"
          class="opret textbox"
          required
          autocomplete="off"
        />
      </div>
      <div class="submit">
        <input
          type="submit"
          value="Opret bruger"
          id="submit"
          autocomplete="off"
        />
      </div>
    </form>
  </div>
</dialog>

<dialog id="login_popup" class="popup">
  <span class="close" id="close_login">&times;</span>

  <div id="content" class="popup_content">
    <div class="header">
      <h4 class="header">Log ind</h4>
    </div>

    <form class="form">
      <div class="email">
        <label for="email" class="label">Indtast din email:</label>
        <input
          type="email"
          placeholder="Email"
          name="email"
          class="textbox"
          required
          autocomplete="off"
        />
      </div>
      <div class="kode">
        <label for="pss_login" class="label">Indtast din adgangskode:</label>
        <input
          type="password"
          name="pss_login"
          id="pss_login"
          placeholder="Adgangskode"
          class="textbox"
          required
          autocomplete="off"
        />
      </div>
      <div class="submit">
        <input type="submit" value="Log ind" id="submit" autocomplete="off" />
      </div>
    </form>
  </div>
</dialog>
