<link rel="stylesheet" type="text/css" href="/css/popup.css" />

<script src="js/popup.js" defer></script>

<dialog id="opret_popup" class="popup">
  <span class="close" id="close_opret">&times;</span>

  <div id="opret_content" class="popup_content">
    <div class="tilmeld_header">
      <h4 class="opret">Tilmeld dig nu</h4>
    </div>

    <form class="opret_form">
      <div class="opret_email">
        <label for="email" class="opret label">Indtast din email:</label>
        <input
          type="email"
          placeholder="Email"
          name="email"
          class="opret textbox"
        />
      </div>
      <div class="opret_kode">
        <label for="pss_opret" class="opret label"
          >Indtast en adgangskode:</label
        >
        <input
          type="password"
          name="pss_opret"
          id="pss_opret"
          placeholder="Adgangskode"
          class="opret textbox"
        />
      </div>
    </form>
    <div class="opret_submit">
      <input type="submit" value="Opret bruger" class="opret" id="submit" />
    </div>
  </div>
</dialog>

<dialog id="login_popup" class="popup">
  <div id="login_content" class="popup_content">
    <div>
      <span class="close_login close" id="close_login">&times;</span>
      <h4 class="login_header">Log ind</h4>
    </div>

    <form class="login_form">
      <div class="login_email">
        <label for="email" class="label">Indtast din email:</label>
        <input type="email" placeholder="Email" name="email" class="textbox" />
      </div>
      <div class="login_kode">
        <label for="pss_login" class="label">Indtast din adgangskode:</label>
        <input
          type="password"
          name="pss_login"
          id="pss_login"
          placeholder="Adgangskode"
          class="textbox"
        />
      </div>
      <div class="login_submit">
        <input type="submit" value="Log ind" id="submit" />
      </div>
    </form>
  </div>
</dialog>
