node_modules/
.env
.DS_Store
npm-debug.log*
coverage/
.vscode/
.idea/
dist/
build/
/*.log# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
create_employees_DB.sql
