/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
*/

.popup {
  background-color: var(--shades-main-brand-color);
  border-radius: 15px;
  border: solid 2px rgba(0, 0, 0, 0.5);
}

.popup::backdrop {
  background-color: rgba(186, 96, 59, 0.5);
}

#content {
  display: grid;
  grid-template-areas:
    "header header"
    "email email "
    "kode kode "
    "knap  .";
  /*nedaf*/
  grid-template-rows: min-content;

  /*hen ad*/
  grid-template-columns: auto;
  gap: 1rem;
  padding: 1rem;
}

.form {
  display: contents;
}

.header {
  grid-area: header;
  margin: 0;
  color: var(--shades-dark-shades);
}

.email {
  grid-area: email;
  display: block;
}

.kode {
  grid-area: kode;
  display: block;
}

.submit {
  grid-area: knap;
}

#submit {
  border-radius: 10px;
  padding: 8px 16px;

  border: solid 3px var(--shades-dark-accent);
  background-color: var(--shades-dark-accent);
  font-size: 1.2rem;
  color: var(--shades-light-shade);
  box-shadow: 0 4px 10px 0 rgba(36, 58, 58, 0.5);
  margin: 0.5rem;
  line-height: 1;
}

#submit:hover {
  cursor: pointer;
  border: solid 3px #ba603b61;
  background-color: var(--action-primary);
  color: var(--action-info);
}

.textbox {
  width: -moz-available;
  font-size: 1.2rem;
  line-height: 1;
  padding: 8px 16px;

  background-color: var(--shades-light-shade);
  color: var(--shades-dark-shades);
  border-radius: 15px;
  border: solid 2px var(--shades-dark-accent);
  background-color: var(--shades-light-shade);

  display: block;
  margin: 0 auto;
}

.textbox:required:invalid {
  border-color: var(--action-danger);
}

.textbox:required:valid {
  border-color: var(--action-success);
}

.textbox:focus-visible {
  outline: none;
}


.label {
  font-size: 1.2rem;
  color: var(--shades-dark-shades);
  margin: 0 0.5rem;
}

/* The Close Button */
.close {
  color: var(--shades-dark-accent);
  font-size: 28px;
  font-weight: bold;
  line-height: 0.5;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
