.welcome {
  height: 62.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  background: linear-gradient(
    180deg,
    var(--shades-main-brand-color) 0%,
    var(--shades-light-shade) 100%
  );
}

.welcome > h1:nth-child(1) {
  line-height: 0;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.135em;
  position: relative;
  top: -30%;
}

.info {
  height: 45.75rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  padding: 4rem;
  background-color: var(--shades-light-shade);
}

.getStarted {
  height: 43.5rem;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4rem 4rem;
  background-image: linear-gradient(
    to bottom,
    var(--shades-light-shade) 0%,
    var(--shades-dark-shades) 100%
  );
}
