body {
  background-color: var(--action-success);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* Define grid container */
.samlet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: rgba(242, 246, 240, 0.75);
  margin: 1rem 0;
}

/* Define grid items */
.timer,
.mood {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
  align-content: center;
}
/* Define styles for specific elements */
.vejrImage,
.moodImage_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountSun,
.moodText {
  text-align: center;
}

.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  width: 20rem;
}

/*
display: grid;
justify-content: space-evenly;
align-content: center;
*/

#moodImage_btn {
  width: 25rem;
}

#vejrImage {
  width: 64px;
  height: 64px;
  transform: scale(3);
  margin: 2rem;
}

#mood_btn {
  background: none;
  border: none;
  position: relative;
}

/* Add hover effect */
#mood_btn:hover #moodImage_btn {
  transform: scale(0.9);
  cursor: pointer;
}

.bottom {
  margin: 0 1rem 1.5rem;
}

.top {
  margin: 1.5rem 1rem 0;
}

@media only screen and (max-width: 768px) {
  #moodImage_btn {
    width: 20rem;
  }
  .Body-P-Larger {
    font-size: 1.5rem;
  }
  .imageText {
    font-size: 1.2rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 480px) {
  #moodImage_btn {
    width: 13rem;
  }
  .Body-P-Larger {
    font-size: 1.2rem;
  }
  .imageText {
    font-size: 1rem;
    width: 5rem;
  }
}
