<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/startSide.css" />
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/popup.css" />

    <script src="js/cssHelp.js" defer></script>
    <script src="js/popup.js" defer></script>

    <%- include('../partials/popup'); %>
  </head>

  <body>
    <header id="myHeader"><%- include("../partials/nav_head"); %></header>

    <div class="welcome"><h1>Welcome</h1></div>
    <div class="info">
      <h2>
        Information
      </h2>
    </div>
    <div class="getStarted">
      <p>
        Log ind <br />
        Opret bruger
      </p>
    </div>
    <footer><%- include("../partials/nav_foot") %></footer>
  </body>
</html>
