<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/sunMood.css" />

    <%- include("../partials/header_footer") %> <%-
    include('../partials/popup'); %>

    <script src="js/cssHelp.js" defer></script>
  </head>

  <body>
    <header id="myHeader"><%- include("../partials/nav_head"); %></header>

    <div class="samlet">
      <div class="timer">
        <div id="top" class="amountSun Body-P-Larger">Mængden af Sollys i dag er ... timer</div>
        <div class="vejrImage">
          <img src="" alt="" />
        </div>
        <div id="bottom" class="amountSun Body-P-Larger">Det er x flere timer end i går</div>
      </div>
      <div class="mood">
        <div class="moodText Body-P-Larger">Hvordan er dit humør?</div>
        <div class="moodImage">
          <img src="" alt="" />
          <div class="imageText">Klik her for at vælge dit humør</div>
        </div>
        <div class="amountSun Body-P-Small">Se humør historik</div>
      </div>
    </div>

    <footer><%- include("../partials/nav_foot") %></footer>
  </body>
</html>
